<%= form_for :guest, url: guests_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :plus_one_name %><br>
    <%= text_field_tag "plus_one_name[]" %>
  </p>

  <p>
    <%= f.label :plus_one_name %><br>
    <%= text_field_tag "plus_one_name[]" %>
  </p>

  <p>
    <%= f.label :plus_one_name %><br>
    <%= text_field_tag "plus_one_name[]" %>
  </p>

  <p>
    <%= f.label :plus_one_name %><br>
    <%= text_field_tag "plus_one_name[]" %>
  </p>

  <p>
    <%= f.label :plus_one_name %><br>
    <%= text_field_tag "plus_one_name[]" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>