<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>
 
<p>
  <strong>Plus Ones</strong>
  <ol>
  	<% @guest.plus_ones.each do |plusOne| %>
  		<li><%= plusOne.name %></li>
  	<% end %>
  </ol>
</p>

<p>
  <strong>Responded:</strong>
  <%= @guest.responded %>
</p>
 
<p>
  <strong>RSVP code:</strong>
  <%= @guest.rsvpCode %>
</p>

<%= link_to 'Back to guest list', guests_path %>