<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>
 
<p>
  <strong>Amount Of Plus Ones:</strong>
  <%= @guest.plusOneAmount %>
</p>

<p>
  <strong>Responded:</strong>
  <%= @guest.responded %>
</p>
 
<p>
  <strong>RSVP code:</strong>
  <%= @guest.rsvpCode %>
</p>

<%= link_to 'Back to guest list', guests_path %>